src/main/app/t-shirt.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <http:listener-config name="t-shirt-httpListenerConfig" host="0.0.0.0" port="8082" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="t-shirt-config" raml="t-shirt.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="t-shirt-main">
        <http:listener config-ref="t-shirt-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="t-shirt-config" doc:name="APIkit Router"/>
        <exception-strategy ref="t-shirt-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="t-shirt-console">
        <http:listener config-ref="t-shirt-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="t-shirt-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/products:t-shirt-config">
        <set-payload value="[&#xA;  {&#xA;    &quot;productCode&quot;: &quot;TS&quot;,&#xA;    &quot;size&quot;: &quot;S&quot;,&#xA;    &quot;description&quot;: &quot;Small T-shirt&quot;,&#xA;    &quot;count&quot;: 30&#xA;  },&#xA;  {&#xA;    &quot;productCode&quot;: &quot;TS&quot;,&#xA;    &quot;size&quot;: &quot;M&quot;,&#xA;    &quot;description&quot;: &quot;Medium T-shirt&quot;,&#xA;    &quot;count&quot;: 22&#xA;  }&#xA;]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/orders/status:t-shirt-config">
        <set-payload value="{&#xA;  &quot;orderId&quot;: &quot;4321&quot;,&#xA;  &quot;status&quot;: &quot;Delivered&quot;,&#xA;  &quot;size&quot;: &quot;M&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/orders:application/json:t-shirt-config">
        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="t-shirt-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
